.content {
  width: 30vw;
  height: 0 auto;
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .content {
    width: 90vw;
  }
}
@media (min-width: 600px) {
  .content {
    width: 70vw;
  }
}
@media (min-width: 1000px) {
  .content {
    width: 40vw;
  }
}
